.QSh2 {
    color: peru;
    font-family: 'Ms Madi', cursive;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.QSh3 {
    color: peru;
    font-family: 'Ms Madi', cursive;
    font-family: 'Plus Jakarta Sans', sans-serif;}
.QSh4 {
    color: peru;
    font-family: 'Ms Madi', cursive;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.card1{
    transition: 1s;
}

.card1:hover{
    transform: scale(1.1);
}